# ======================================
# Config ===============================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session

# ======================================
# Parameters ===========================
parameters:
	tracyAi:
		enabled: true
		maxFrames: 8
		projectRoot: %appDir%/..
		maxValueLength: 180

# ======================================
# Extension ============================
extensions:
	tracy.bluescreens: Contributte\Tracy\DI\TracyBlueScreensExtension

# ======================================
# Services =============================
services:
	aiBlueScreenSetup:
		create: App\Tracy\AiBlueScreenSetup(%tracyAi%)
		setup:
			- register()
